/* Navar Related*/
.navbar{
  background: #3898dd;
  display: flex;
  flex-direction: row;
}

/* Logo Related */
.logo{
  flex-basis: 255px;
  flex-grow: 0;
}
/* Search Related */
.search{
  flex-grow: 1;
}

/*Body Related*/
.body{
  /* display: flex; */
  /* width: 1600px;
  height: 1116px; */
  margin: 0;
  padding: 0;
  background: #000;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/*Container Related*/
.content-container{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

/*Sidebar Related*/
.sidebar-box {
  width: 254px;
  height: 629px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #edb4b4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-grow: 0;
  flex-basis: 255px;
}

.sidebar-text{
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  flex-grow: 0;
  /* display: flex;
  justify-content: center; */
}

.geners{
  background: #3898dd;
  margin-top: 80%;
  flex-grow: 1;
  /* flex-basis: 100px; */
  display: flex;
  flex-direction: row;
}

/*Songs Related*/
.songs{
  background: #f97f7f;
  flex-grow: 1;
}

.footer{
  flex-grow: 1;
  background: #dddd38;
}

.navbar-text{
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  /* display: flex;
  justify-content: center; */
}

/* .App {
  flex-grow: 1;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
